---
title: Páscoa
image_view: true
---
<h1>Páscoa 2021</h1>

<p>Se preferir, veja o <a href="https://drive.google.com/file/d/17RZoOFotwNsYPKefyEeERoqEUy_3HpSv/view" target="_blank">cardápio completo das opções para a páscoa em PDF</a>.</p>

{% if page.image_view %}
	{% for category in site.categories limit:5 %}
		<h2>{{ category[0] }}</h2>
		<div class="recipes">
			{% for recipe in category[1] %}
				<div class="recipe" style="background-image: url('{{ recipe.featured_image }}')">
					<a href="{{ site.baseurl }}{{ recipe.url }}"><span>{{ recipe.title }}</span></a>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
{% endif %}
